:root {
  --backgroundColor: rgb(246, 247, 243);
  --colorA: #ebb540;
  --colorB: rgb(247, 188, 62);

}

.background{
  background-image: url('../src/Assets/Images/background.png');
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: grid;
  height: 100%;
}

.signup-card {
  text-align: center;
  background-color: rgba(255, 255, 255, .15);  
  width: 30%;
  height: 80%;
  border-radius: 20px;
  backdrop-filter: blur(4px);
  align-self: center;
  justify-self: center;
}

.fields h1{ 
  font-size: 4rem;
  color: var(--colorA);
}

.fields input{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  width: 70%;
  height: 50px;
  font-size: 1.3rem;
  border: none;
}

.submit{
  width: 65%;
  height: 50px;
  border-style: none;
  border-radius: 40px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--colorA);
}

.button-side p {
  font-size: .7rem;
}

.home-background {
  background-image: url('../src/Assets/Images/background.png');
  height: 100vh;
}

.home-container{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.home-left-side-card {
  display: block;
  width: 70%;
  height: 80%;
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  justify-self: center;
  align-self: center;
  backdrop-filter: blur(4px);
}

.home-content{
  text-align: center;
}